.c-queue__wrapper {
  margin-top: 10px;
}

.c-queue__title {
  border-radius: 2px;
  font-size: 36px;
  padding: 5px 10px;
  margin-bottom: 10px;
  background: white;
  box-shadow: 0 -1px 5px 0 #e5e5e8;
}

.c-appointment__token__wrappers {
  border-radius: 2px;
}

.c-appointment__big-token__wrappers {
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 -1px 5px 0 #e5e5e8;
  background: white;
  margin-right: 20px;
}

.c-current-token__wrapper {
  border-radius: 2px;
  height: 250px;
  padding: 10px;
  background: #006e00;
  color: #414146;
  margin-bottom: 10px;
}

.c-current-token__title {
  font-size: 18px;
  color: white;
}

.c-current-token__body {
  color: white;
  width: 100%;
  height: 200px;
  position: relative;
}

.c-current-token__inner-body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.c-current-token__name {
  font-size: 48px;
  text-align: center;
}

.c-current-token__phone {
  font-size: 32px;
  text-align: center;
  letter-spacing: 5px;
}

.c-next-token__wrapper {
  border-radius: 2px;
  height: 250px;
  padding: 10px;
  background: #ffeb01;
  color: #414146;
}

.c-next-token__title {
  font-size: 18px;
  color: #414146;
}

.c-next-token__body {
  color: white;
  width: 100%;
  height: 200px;
  position: relative;
  color: #414146;
}

.c-next-token__inner-body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.c-next-token__name {
  font-size: 48px;
  text-align: center;
}

.c-next-token__phone {
  font-size: 32px;
  text-align: center;
  letter-spacing: 5px;
}

.c-remaining-token__full-wrapper {
  border-radius: 2px;
  background: white;
  padding: 10px;
  box-shadow: 0 -1px 5px 0 #e5e5e8;
}

.c-remaining-token__title {
  font-size: 24px;
  color: #414146;
  margin-bottom: 10px;
}

.c-remaining-token__wrapper {
  border-radius: 2px;
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  line-height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
  color: #2d2d32;
}

.c-remaining-token__wrapper:last-child {
  margin-bottom: 0px;
}
